body,
html {
    margin: 0;
    height: 100%;
    width: 100%;
}

.main_div {
    height: 33%;
}
.div_result {
    word-wrap: break-word;
}
.child_image_container{
    height: 100%;
    width: 100%;
}
.custom_tr {
    display: table-row;
}
.custom_td {
    padding: 0;
}
.empty_column {
    width: 20%;
}
.search_column {
    width: 60%;
}
.main-search-box {
    width: 100%;
}
.centered_image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.full_div{
    max-height: 100%;
    max-width: 100%;
}
.full_div_image {
    max-height: 100%;
    max-width: 100%;
}
.inline{
    display: inline;
}
.slick-prev {
    left: -2%;
}
.slick-next {
    right: 2%;
}
.slick-prev:before, .slick-next:before {
    color: #0000ff !important;
}

#div_logo {
    position: relative
}
#img_logo {
    max-height: 60%;
    max-width: 60%;
}

#div_search {
    display: table;
    width: 100%;
}

#form_search {
    text-align: left;
    vertical-align: middle;
}
#submit_main_form {
    display:table;
    margin:auto;
}

/* Input effects*/
span {
    padding:10px;
    pointer-events: none;
    position:absolute;
    left:0;
    top:0;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity:0.5;
    width: 100%;
}
input {
    padding:10px;
}

input:focus + span, input:not(:placeholder-shown) + span {
    opacity:1;
    transform: scale(0.75) translateY(-100%) translateX(-30px);
}
/* For IE Browsers*/
input:focus + span, input:not(:-ms-input-placeholder) + span {
    opacity:1;
    transform: scale(0.75) translateY(-100%) translateX(-30px);
}
